<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/css/Register.css">
  <script src="../static/js/Register.js" defer></script>
</head>
<body>
    <section class="header">
        <h1><a class="Companyname" href="./Home.html">가은</a></h1>
    </section>
  <div class="register-page">
    <div class="form">
      <form class="register-form">
        <input type="text" placeholder="아이디"/>
        <input type="password" placeholder="비밀번호"/>
        <input type="email" placeholder="이메일"/>
        <button>회원가입</button>
        <p class="message">로그인 하시겠습니까? <a href="../page/Login.html">로그인</a></p>
      </form>
    </div>
  </div>
</body>
</html>