<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/css/coupleEnroll.css">
</head>
<body>
    <section class="header">
        <h1><a class="Companyname" href="./Home.html">가은</a></h1>
    </section>
  <div class="couple-page">
    <div class="form">
      <form class="couple-form">
        <input type="text" placeholder="내 아이디"/>
        <input type="password" placeholder="상대방 아이디"/>
        <button id="couple-btn">커플 등록</button>
    </form>
    </div>
  </div>
</body>
</html>